@font-face {
    font-family: "OpenSans";
    src: url(./fonts/OpenSans-Regular.ttf);
}

* {
    font-family: "OpenSans", sans-serif;
}

body {
    max-width: 960px;
    margin: 0 auto;
    background-color: rgb(229, 229, 229);
}